$clear-button-dimension: 35px;

body {
  margin: 0;
}

.app {
  font-size: 16px;
  font-family: monospace;
  padding: 10px;

  h1 {
    font-size: 2.5em;
  }

  button {
    transition: background 0.35s ease-in-out, color 0.35s ease-in-out;

    &:active,
    &:focus {
      background: #e6e6e6;
      border: none;
      outline: none;
    }
  }

  .search {
    height: 45px;
    position: relative;

    input {
      border-radius: 4px;
      box-sizing: border-box;
      font-family: monospace;
      font-size: 28px;
      height: 100%;
      padding: 3px 5px;
      width: 100%;
    }
  }

  .clear {
    border-radius: 50%;
    background: transparent;
    border: none;
    height: $clear-button-dimension;
    font-size: 1.2em;
    margin-top: 5px;
    padding: 0 10px;
    position: absolute;
    right: 5px;
    width: $clear-button-dimension;

    &:active,
    &:focus {
      border: none;
      outline: none;
    }

    &:hover {
      color: #fff;
      background: #000;
    }
  }

  .list {
    margin-top: 1em;
  }

  .emoji {
    align-content: center;
    background: transparent;
    border: none;
    border-radius: 4px;
    display: inline-block;;
    font-size: 1.8em;
    height: 2em;
    justify-content: center;
    padding: 0 0 0 3px;
    position: relative;
    width: 2em;

    &:active,
    &:focus {
      background: #e6e6e6;
    }

    &:hover {
      background: #e6e6e6;
    }
  }

  .selection {
    align-items: center;
    background: #000;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    left: 0;
    height: 55px;
    padding: 0;
    position: fixed;
    width: 100vw;

    .copy,
    .clear {
      color: #fff;

      &:hover {
        color: #000;
        background: #fff;
      }
    }

    .copy {
      background: transparent;
      border: none;
      flex: 0 0;
      font-family: monospace;
      font-size: 1em;
      height: 35px;
      margin-left: 1em;
      width: 4em;

      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }

    .group {
      display: inline-block;
      overflow-x: scroll;
      white-space: nowrap;
      width: calc(100vw - 6.5em - 35px);
      // width: calc(100vw - 6.5em - $clear-button-dimension);
    }

    .emoji{
      &:active,
      &:focus,
      &:hover {
        background: transparent;
      }

      &:hover {
        &:after {
          color: #fff;
          content: "✕";
          font-size: 1.5em;
          height: 100%;
          left: 2px;
          position: absolute;
          top: 1px;
          text-shadow: 0px 0px 3px #000;
          width: 100%;
        }
      }
    }

    .clear {
      margin: 0 1em 0 .5em;
    }
  }
}