body {
  margin: 0;
}

.app {
  font-size: 16px;
  font-family: monospace;
  padding: 10px;

  h1 {
    font-size: 2.5em;
  }

  button {
    transition: background 0.35s ease-in-out, color 0.35s ease-in-out;

    &:active,
    &:focus {
      background: #e6e6e6;
      border: none;
      outline: none;
    }
  }

  .search {
    height: 45px;
    position: relative;

    input {
      border-radius: 4px;
      box-sizing: border-box;
      font-family: monospace;
      font-size: 1.8em;
      height: 100%;
      padding: 3px 5px;
      width: 100%;
    }

    .clear {
      border-radius: 50%;
      background: transparent;
      border: none;
      height: 35px;
      font-size: 1.2em;
      margin-top: 5px;
      padding: 0 10px;
      position: absolute;
      right: 5px;
      width: 35px;

      &:active,
      &:focus {
        border: none;
        outline: none;
      }

      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }

  .list {
    margin-top: 1em;
  }

  .emoji {
    align-content: center;
    background: transparent;
    border: none;
    border-radius: 4px;
    display: inline-block;;
    font-size: 1.8em;
    height: 2em;
    justify-content: center;
    padding: 0 0 0 3px;
    position: relative;
    width: 2em;

    &:active,
    &:focus {
      background: #e6e6e6;
    }

    &:hover {
      background: #e6e6e6;
    }
  }

  .selection {
    background: #000;
    bottom: 0;
    left: 0;
    height: 3.5em;
    padding: 0;
    padding-left: calc(10px + 4em);
    position: fixed;
    width: 100vw;

    .copy {
      background: transparent;
      border: none;
      color: #fff;
      font-family: monospace;
      font-size: 1em;
      height: 80%;
      left: 10px;
      position: absolute;
      top: 10%;
      width: 4em;

      &:hover {
        color: #000;
        background: #fff;
      }

      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }

    .group {
      overflow-x: scroll;
      white-space: nowrap;
      width: calc(100vw - 4em - 10px);
    }

    .emoji{
      &:active,
      &:focus,
      &:hover {
      background: transparent;
    }

      &:hover {
        &:after {
          color: #fff;
          content: "✕";
          font-size: 1.5em;
          height: 100%;
          left: 2px;
          position: absolute;
          top: 2px;
          text-shadow: 0px 0px 3px #000;
          width: 100%;
        }
      }
    }
  }
}