.app {
  font-size: 16px;

  .list {
    display: flex;
    flex-wrap: wrap;

    button {
      align-content: center;
      background: transparent;
      border: none;
      display: flex;
      flex: 1;
      font-size: 1em;
      height: 2.5em;
      justify-content: center;
    }
  }
}